---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";



---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="pt-20 pb-16 space-y-24">
      <section class="animate">
        <article class="space-y-8">
          <p class="animate text-2xl">
            Software Engineer. Avid music lover. Backpacker.
          </p>
          <p class="animate text-2xl">
            Currently working at the 
            <Link href="https://premierlacrosseleague.com/" aria-label="Premier Lacrosse League" external>
              Premier Lacrosse League
            </Link>.
          </p>
          <p class="animate text-2xl">
            Working remotely from 
            <Link href="https://www.reddit.com/r/sanfrancisco/comments/18832bs/ron_desantis_holds_up_san_francisco_poop_map/?ref=share&ref_source=link" aria-label="San Francisco, California" external>
              San Francisco, California
            </Link>.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <h2 class="text-3xl font-bold text-black dark:text-white">
          Let's Connect!
        </h2>
        <p class="text-lg text-gray-600 dark:text-gray-400">
          I'm always open to new opportunities and collaborations.
        </p>
        <ul class="flex flex-wrap gap-4 text-lg">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`} class="social-link">
                {SOCIAL.NAME}
              </Link>
              <span class="text-gray-400 social-separator">/</span>
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
